[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
fpdf = "*"
mysqlclient = "*"
pypdf2 = "*"
pypdf4 = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.10"
