@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.AddSess{
    box-sizing: border-box;
    position: absolute;
    width: 245px;
    height: 223px;
    left: 985px;
    top: 100px;
    text-align: center;
    

    background: #FFFAF8;
    border: 2px solid #EE925B;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.25),
    inset -4px -4px 5px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.AddSess button:hover{
    background-color: #EE925B;
}


.AddSess button a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    text-align: center;
    color: #3F3F40;
    
}

.DelSess{
    box-sizing: border-box;
    position: absolute;
    width: 245px;
    height: 223px;
    left: 1270px;
    top: 100px;
    text-align: center;
    

    background: #FFFAF8;
    border: 2px solid #EE925B;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.25),
    inset -4px -4px 5px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.DelSess button:hover{
    background-color: #EE925B;
}


.DelSess button a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    color: #3F3F40;
    
}