@import url(login.css);
@import url(Monitoring.css);
@import url(alerts.css);
@import url(reports.css);
@import url(channelinfo.css);
@import url(addsess.css);
@import url(Manageusers.css);
@import url(addUser.css);
@import url(EditUser.css);
@import url(ViewUser.css);
@import url(Deluser.css);
@import url(ManageGrps.css);
@import url(addgrp.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins','sans-seriff';
        }

body{
        font-family: sans-serif; 
        background-color: #FFFAF8;
        height: 100vh;  
        }
h1{
        font-family: 'Poppins';
        font-style: SemiBold;
        font-size: 24px;
        line-height: 36px;
        line-height: 100%;
        text-align: left;
        vertical-align: top;
}
//=============================== SIDE NAVBAR =============================
nav{
        max-width: 400px;
}
      
      .menu{
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        padding-top: 60px;
        background-color: white; 
        transition: 0.5s;
        transform: translateX(-250px);
      }
      .logo a{
        padding: 15px 25px;
        font-size: 40px;
        text-transform: uppercase;
        color: white;
        /*margin-left: 5px*/
      }
      .logo a img{
        max-width:140px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
      ul li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        transition: 0.3s;
        /*text-align: center;*/
        padding-left: 25px;
      }
      ul li:hover{
        padding-left: 35px;
        background-color: #EE925B;
      }
      ul li a{
        display: block;
        color: #767575;
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;
      }
      
      .logoutbtn button {
        position: fixed;
        width: 80px;
        height: 47px;
        top: 718px;
        left: 80px;
        border-radius: 6px;
        align-items: center;
        background-color: #767575;
        border-radius: 6px;
        border-color: #767575;
      }
      
      .logoutbtn button a {
        Width: 100px;
        Height: 30px;
        Top: 927px;
        Left: 150px;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
      }
      
      #open{
        display: none;
      }
      .open{
        height: 80px;
        width: 80px;
        /*position: absolute;*/
        /*background-color: #000;*/
      }
      .open i{
        font-size: 25px;
        cursor: pointer;
        margin-left: 25px;
        margin-top: 25px;
        background-color: #EE925B;
        padding: 15px 15px;
        color: white;
        z-index: 99;
      }
      #open:checked ~ .menu{
        transition: 0.5s;
        transform: translateX(0);
      }
      #open:checked ~ .open i{
        transition: 0.5s;
        margin-left: 190px;
        position: absolute;
      }
      

.logoutbtn button{
        position: fixed;
        width: 80px;
        height: 47px;
        top: 718px;
        left: 80px;
        border-radius: 6px;
        align-items: center;

        background-color: #767575;
        border-radius: 6px;
        border-color: #767575
}

.logoutbtn button a{
        Width:100px;
        Height:30px;
        Top:927px;
        Left:150px;

        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-decoration: none;
        display: flex;
        align-items: center;

        color: white;
}
//============================================= USER BUTTONS ======================================
.userbutton button{
        box-sizing: border-box;
        position: absolute;
        width: 215px;
        height: 78px;
        left: 512px;
        top: 400px;
        text-align: center;
        

        background: #FFFAF8;
        border: 2px solid #EE925B;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.25),
        inset -4px -4px 5px rgba(0,0,0,0.25);
        border-radius: 10px;
}

 .userbutton button:hover{
        background-color: #EE925B;
 }
.userbutton button a{
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        text-align: center;
        color: #3F3F40;
        
}
//================================GROUP BUTTON ======================================
.grpbutton button{
        box-sizing: border-box;
        position: absolute;
        width: 215px;
        height: 78px;
        left: 985px;
        top: 400px;
        text-align: center;
        

        background: #FFFAF8;
        border: 2px solid #EE925B;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.25),
        inset -4px -4px 5px rgba(0,0,0,0.25);
        border-radius: 10px;
}

.grpbutton button:hover{
        background-color: #EE925B;
}


.grpbutton button a{
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        text-align: center;
        color: #3F3F40;
        
}
//=============================================================================================================
.Rectangle1{
        position: absolute;
        width: 1080px;
        height: 296px;
        left: 342px;
        top:80px;

        background: white;
        box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
}

.Rectangle2{
        position: absolute;
        width: 326px;
        height: 290px;
        left: 457px;
        top: 490px;

        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px; 
}

.Rectangle3{
        position: absolute;
        width: 326px;
        height: 290px;
        left: 930px;
        top: 490px;

        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
}

.open{
        height: 80px;
        width: 80px;
        /*position: absolute;*/
        /*background-color: #000;*/
      }
      .open i{
        font-size: 25px;
        cursor: pointer;
        margin-left: 25px;
        margin-top: 25px;
        background-color: #EE925B;
        padding: 15px 15px;
        color: white;
        z-index: 99;
      }
      #open:checked ~ .menu{
        transition: 0.5s;
        transform: translateX(0);
      }
      #open:checked ~ .open i{
        transition: 0.5s;
        margin-left: 190px;
        position: absolute;
      }