@import url(login.css);
@import url(Monitoring.css);
@import url(alerts.css);
@import url(reports.css);
@import url(channelinfo.css);
@import url(addsess.css);
@import url(Manageusers.css);
@import url(addUser.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins','sans-seriff';
        }

body{
    background-color: #FFFAF8;
}

h1{
        font-family: 'Poppins';
        font-style: SemiBold;
        font-size: 24px;
        line-height: 36px;
        line-height: 100%;
        text-align: left;
        vertical-align: top;
}
//=============================== SIDE NAVBAR =============================
.sidebar{
        position:fixed;
        width: 250px;
        height: 150%;
        left: 0;
        background: white;
        border: none;
        
        
}

ul li{
     list-style: none;   
}

ul li a{
        color: #767575;
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        line-height: 30px;
        line-height: 100%;
        padding: 30px 0;
        display:block;
        text-transform: capitalize;
        text-decoration: none;
        text-align: left;

}

ul li a:hover{
        color: #EE925B;
}

ul li a i{
        width: 30px;
        text-align:center
}

.logoutbtn button{
        position: fixed;
        width: 80px;
        height: 47px;
        top: 718px;
        left: 80px;
        border-radius: 6px;
        align-items: center;

        background-color: #767575;
        border-radius: 6px;
        border-color: #767575
}

.logoutbtn button a{
        Width:100px;
        Height:30px;
        Top:927px;
        Left:150px;

        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-decoration: none;
        display: flex;
        align-items: center;

        color: white;
}
//============================================= USER BUTTONS ======================================
.userbutton button{
        box-sizing: border-box;
        position: absolute;
        width: 215px;
        height: 78px;
        left: 512px;
        top: 400px;
        text-align: center;
        

        background: #FFFAF8;
        border: 2px solid #EE925B;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.25),
        inset -4px -4px 5px rgba(0,0,0,0.25);
        border-radius: 10px;
}

 .userbutton button:hover{
        background-color: #EE925B;
 }
.userbutton button a{
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        text-align: center;
        color: #3F3F40;
        
}
//================================GROUP BUTTON ======================================
.grpbutton button{
        box-sizing: border-box;
        position: absolute;
        width: 215px;
        height: 78px;
        left: 985px;
        top: 400px;
        text-align: center;
        

        background: #FFFAF8;
        border: 2px solid #EE925B;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.25),
        inset -4px -4px 5px rgba(0,0,0,0.25);
        border-radius: 10px;
}

.grpbutton button:hover{
        background-color: #EE925B;
}


.grpbutton button a{
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        text-align: center;
        color: #3F3F40;
        
}
//=============================================================================================================
.Rectangle1{
        position: absolute;
        width: 1080px;
        height: 296px;
        left: 342px;
        top:80px;

        background: white;
        box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
}

.Rectangle2{
        position: absolute;
        width: 326px;
        height: 290px;
        left: 457px;
        top: 490px;

        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px; 
}

.Rectangle3{
        position: absolute;
        width: 326px;
        height: 290px;
        left: 930px;
        top: 490px;

        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
}

