@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.Rectangle8 {
  position: absolute;
  width: 1120px;
  height: 887px;
  left: 297px;
  top: 100px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#report {
  position: absolute;
  width: 144px;
  height: 48px;
  left: 490px;
  top: 37px;
  font-family: Poppins;
  font-style: normal;
  color: #0B61BC;
  font-size: 32px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 444px;
  height: 30px;
  left: 424px;
  top: 327px;
  border-radius: 5px;
}

#temp {
  position: absolute;
  left: 252px;
  top: 327px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #3F3F40;
}

/* The dropdown menu */
#mySelect {
  text-align: center;
  width: 444px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* The textbox */
#myInput {
  width: 444px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#sdate {
  position: absolute;
  width: 105px;
  left: 140px;
  top: 411px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

#SDate {
  text-align: center;
  position: relative;
  width: 200px;
  height: 30px;
  top: 380px;
  left: 260px;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

#edate {
  position: absolute;
  width: 105px;
  left: 140px;
  top: 473px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

#EDate {
  text-align: center;
  position: relative;
  width: 200px;
  height: 30px;
  top: 440px;
  left: 55px;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

#stime {
  position: absolute;
  width: 105px;
  left: 600px;
  top: 411px;
  font-family: Poppins;
  font-style: medium;
  font-size: 18px;
}

#Stime {
  text-align: center;
  position: absolute;
  width: 205px;
  left: 600px;
  top: 411px;
  left: 714px;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

#etime {
  position: absolute;
  width: 105px;
  left: 600px;
  top: 473px;
  font-family: Poppins;
  font-style: medium;
  font-size: 18px;
}

#Etime {
  text-align: center;
  position: absolute;
  width: 205px;
  left: 140px;
  top: 473px;
  left: 714px;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.ReportsRec .Createtemp button {
  box-sizing: border-box;
  position: absolute;
  width: 245px;
  height: 70px;
  left: 441px;
  top: 762px;
  text-align: center;
  background: #FFFAF8;
  border: 2px solid #EE925B;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25), inset -4px -4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ReportsRec .Createtemp button:hover {
  background-color: #EE925B;
}

.ReportsRec .Createtemp a {
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  font-style: normal;
  text-align: center;
  color: #3F3F40;
}

.ReportsRec .PrintReport button {
  box-sizing: border-box;
  position: absolute;
  width: 245px;
  height: 70px;
  left: 748px;
  top: 762px;
  text-align: center;
  background: #FFFAF8;
  border: 2px solid #EE925B;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25), inset -4px -4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ReportsRec .PrintReport button:hover {
  background-color: #EE925B;
}

.ReportsRec .PrintReport a {
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  font-style: normal;
  text-align: center;
  color: #3F3F40;
}

/* The container for the dropdown textbox *//*# sourceMappingURL=reports.css.map */