{% extends 'template.html' %} 
{% load static %}

{% block style-links %}

{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}


<div class="addGroup-wrapper">
    <div class="addGroup-container">
  
  

        <div class="addGroupform responsive-flex">
            <form method="POST" id="addGroupForm">
                {% csrf_token %}
        
                <div>
                    <span>
                        <label for="groupname">Group Name</label>
                    </span>
                    <span>
                        <input type="text" name="groupName" id="groupname">
                    </span>
                </div>
        
                <div>
                    <h3>Permissions</h3>
                    <span>
                        <input type="checkbox" name="groupPermissions" id=""> Print report
                    </span><br>
                    
                    <span>
                        <input type="checkbox" name="groupPermissions" id=""> View time table
                    </span><br>
                    <span>
                        <input type="checkbox" name="groupPermissions" id=""> View channel info
                    </span><br>
                    <span>
                        <input type="checkbox" name="groupPermissions" id=""> Create User
                    </span><br>
                    <span>
                        <input type="checkbox" name="groupPermissions" id=""> Delete User
                    </span><br>
                    <span>
                        <input type="checkbox" name="groupPermissions" id=""> Create Group
                    </span><br>
                    <span>
                        <input type="checkbox" name="groupPermissions" id=""> Delete Group
                    </span><br>
                    <span>
                        <input type="checkbox" name="groupPermissions" id=""> Group List
                    </span><br>
                    <span>
                        <input type="checkbox" name="groupPermissions" id=""> Add session
                    </span><br>            <span>
                        <input type="checkbox" name="groupPermissions" id=""> Delete session
                    </span><br>
                </div>
                <input type="text" id="permsArray" name="permArray" placeholder="Permissions">
                <div>
                    <button type="button" onclick="showGroupPermissions()">Show</button>
                </div>
        
                <script>
                    function showGroupPermissions(){
                        let permArray = ""
                        for (let perms = 0; perms < 10; perms++) {
                            perm_isChecked = document.getElementsByName("groupPermissions")[perms].checked;
                            if(perm_isChecked == true){
                                perm_isChecked = 1
                            }
                            else{
                                perm_isChecked = 0
                            }
                            permArray = permArray + perm_isChecked
                        }
                        document.getElementById("permsArray").value = permArray
                        document.getElementById("addGroupForm").submit()
                    }
                </script>
        
            </form>

        </div>
        
  
    </div>
  </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}