{% extends './template.html' %}
{% load static %}
{% block style-links %}
    <link rel="stylesheet" href="{% static 'sass/Dasboard.css' %}">
{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}
  <!-- SIDEBAR -->
  <nav class="sidebar">
    <h1>Logo</h1>
    <ul>
    <li><a href="/uac"><i class="fas fa-users-gear"></i>USER MANAGEMENT</a></li>
    <li><a href="/monitoring"><i class="fa-solid fa-desktop"></i>MONITORING</a></li>
    <li><a href="/alert"><i class="fas fa-circle-exclamation"></i></i>ALERTS</a></li>
    <li><a href="/reports"><i class="fa-regular fa-file-lines"></i></i>REPORTS</a></li>
    <!-- <li><a href="/timetable"><i class="fa-solid fa-table"></i></i> TABLE</a></li> -->
    <li><a href="/channelinfo"><i class="fa-solid fa-timeline"></i></i>CHANNEL INFO</a></li>
    </ul>
  </nav>
Log Out Button
<div class="logoutbtn"><button><a href="#">Log Out</a></button></div>  

<div class="Rect">
<div id="error"></div>
<form onsubmit="return validate()" id="addsessform" action="demo.html">
        <div>
            <input type="number" id ="maxt" placeholder="Max temp" required>
        </div>
        <div>
            <input type="number" id="mint" placeholder="Min temp" required>
        </div>
        <div>
            <input type="number" id="maxh" placeholder="Max hum" required>
        </div>
        <div>
            <input type="number" id="minh" placeholder="Min hum" required>
        </div>
        <button type="submit">Add Session</button>
</form>
</div> 
{% endblock content %}

{% block scripts %}
{% endblock scripts %}