<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="Mainpage">
        <div class="Alertscontainer">
            <div class="Serialinfo">
            </div>
            <div class="ErrorMsg">
            </div>
            <div class="SessionDetails"></div>
        </div>
    </div>
</body>
</html> -->

{% extends 'template.html' %} 
{% load static %}

{% block style-links %}

{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}
 
<div class="AddUsr-wrapper">
    <div class="AddUsr-container">

        <div class="AddUsrbox responsive-flex">
            <div class="Userf">
                <form class="userform" method="post">
                    {% csrf_token %}
                    <div>
                        <div class="UserInputs">
                            <label for="firstname">FIRST NAME:</label>
                            <input type="text" id="firstname" name="firstname" />
                        </div>
                        <div class="UserInputs">
                            <label for="Lastname">LAST NAME:</label>
                            <input type="text" id="lastname" name="lastname" />
                        </div>
            
                        <div class="UserInputs">
                            <label for="Email">EMAIL:</label>
                            <input type="email" id="email" name="email" />
                        </div>
                        
                        <div class="UserInputs">
                            <label for="username">USERNAME:</label>
                            <input type="text" id="username" name="username"  />
                        </div>
                        <div class="UserInputs">
                            <label for="password">PASSWORD:</label>
                            <input type="password" id="password" name="password" />
                        </div>
                        
                        <div class="UserInputs">
                            <label for="group" >GROUP</label>
                            <select name="group_priv_id">
                                {% for group in group_priv %}
                                <option value="{{group.pk}}">{{group.group_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="Submitbtn">
                            <button type="submit"><a>SUBMIT</a></button>
                        </div>
    
    
                        {% for message in messages %}
                            <script>
                                alert("{{message}}")
                            </script>
                        {% endfor %}
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
  
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
