{% extends './template.html' %}
{% load static %}
{% block style-links %}
    <link rel="stylesheet" href="{% static 'sass/Dasboard.css' %}">
{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}

<nav class="sidebar">
    <h1>Logo</h1>
    <ul>
    <li><a href="/uac"><i class="fas fa-users-gear"></i>USER MANAGEMENT</a></li>
    <li><a href="/monitoring"><i class="fa-solid fa-desktop"></i>MONITORING</a></li>
    <li><a href="/alert"><i class="fas fa-circle-exclamation"></i></i>ALERTS</a></li>
    <li><a href="/reports"><i class="fa-regular fa-file-lines"></i></i>REPORTS</a></li>
    <!-- <li><a href="/timetable"><i class="fa-solid fa-table"></i></i> TABLE</a></li> -->
    <li><a href="/channelinfo"><i class="fa-solid fa-timeline"></i></i>CHANNEL INFO</a></li>
    </ul>
  </nav>
<!-- Log Out Button -->
<div class="logoutbtn"><button><a href="#">Log Out</a></button></div> 

<div class="container2">
    <form class="userform" method="post">
        {% csrf_token %}
        <div>
            <div class="fn">
                <label for="firstname">FIRST NAME:</label>
                <input type="text" id="firstname" name="firstname" />
            </div>
            <div class="ln">
                <label for="Lastname">LAST NAME:</label>
                <input type="text" id="lastname" name="lastname" />
            </div>

            <div>
                <label for="Email">EMAIL:</label>
                <input type="email" id="email" name="email" />
            </div>
            
            <div>
                <label for="username">USERNAME:</label>
                <input type="test" id="username" name="username"  />
            </div>
            <div>
                <label for="password">PASSWORD:</label>
                <input type="password" id="password" name="password" />
            </div>
            
            <div>
                <label for="group" >GROUP</label>
                <select name="group_priv_id">
                    {% for group in group_priv %}
                    <option value="{{group.pk}}">{{group.group_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="Submitbtn">
                <button type="submit"><a>SUBMIT</a></button>
            </div>
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}