{% extends './template.html' %}
{% load static %}
{% block style-links %}
    <link rel="stylesheet" href="{% static 'sass/Dasboard.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock style-links %}

{% block head-tag-scripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock head-tag-scripts %}

{% block content %}
<label>
  <!-- SIDEBAR -->
  <nav class="sidebar">
    <h1>Logo</h1>
    <ul>
    <li><a href="/uac"><i class="fas fa-users-gear"></i>USER MANAGEMENT</a></li>
    <li><a href="/monitoring"><i class="fa-solid fa-desktop"></i>MONITORING</a></li>
    <li><a href="/alert"><i class="fas fa-circle-exclamation"></i></i>ALERTS</a></li>
    <li><a href="/reports"><i class="fa-regular fa-file-lines"></i></i>REPORTS</a></li>
    <!-- <li><a href="/timetable"><i class="fa-solid fa-table"></i></i> TABLE</a></li> -->
    <li><a href="/channelinfo"><i class="fa-solid fa-timeline"></i></i>CHANNEL INFO</a></li>
    </ul>
  </nav>
<!-- Log Out Button -->
<div class="logoutbtn"><button><a href="#">Log Out</a></button></div>  

<div class="container3"></div>
<table id="edituser">
    <tr>
        <th>
            ID
        </th>
        <th>
            Username
        </th>
        <th>
            Name
        </th>
        <th>
            Group name
        </th>
        <th>
            View
        </th>
    </tr>
    {% for user in all_users  %}
    <tr>
        <td>
            {{user.user_id.pk}}
        </td>
        <td>
            {{user.user_id.username}}
        </td>
        <td>
            {{user.user_id.first_name}} {{user.user_id.last_name}}
        </td>
        <td>
            {{user.group_name.pk}}
        </td>
        <td>
            <a href="/viewUser/{{user.id}}">view</a>
        </td>
    </tr>
    
    {% endfor %}
    
    
</table>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}