{% extends 'template.html' %} 
{% load static %}

{% block style-links %}

{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}


<div class="Group-wrapper">
    <div class="Group-container">
  
  

        <div class="ManageGroup responsive-flex">
            <div class="MangeGroupbtns">
                <button>
                    <a href="/addGroupPage">Add Group</a>
                </button>
                <button>
                    <a href="/editGroup">Edit Group</a>
                </button>
                <button>
                    <a href="/delGroup">Delete Group</a>
                </button>
            </div>

        </div>
        
  
    </div>
  </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}