<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
</head>
<body>
    <div class="container">
        <form method="post">
            {% comment %} <!-- action="{% url 'addUser' name='user1's email='user@gmail.com' password='12345678' grp_name='User' %} --> {% endcomment %}
            {% csrf_token %}
            <button>Add User</button>
        </form>
        <div>
            <button>Modify User</button>
        </div>
        <div>
            <a href="/delUser"><button>Delete User</button></a>
        </div>
    </div>                            
    
  

</body>
</html>