{% extends 'template.html' %} 
{% load static %}

{% block style-links %}

{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}


<div class="Monitoring-wrapper">
    <div class="Monitoring-container">
  
  
        <div class="Serial-info">

        </div>
  

  
        <div class="session-details responsive-flex">
            <div class="details">
                
            </div>

            <div class="Sessbttns responsive-flex">
                <button>
                     <form action="{% url 'addSession' %}" method="post">
                        {% csrf_token %}
                          <a href="./addsess">Add Session</a>
                    </form>
                </button>
                <button>
                  <form action="{% url 'removeSession' sessionID=19 %}" method="post">
                    {% csrf_token %}      
                      <a href="Delsess.html">Delete Session</a>
                  </form>
                </button>
            </div>

        </div>
        <div class="maindb responsive-flex">
            <div class="dbtable">
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Session Id</th>
                        <th scope="col">Serial no.</th>
                        <th scope="col">Date & Time</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Humidity</th>
                        <!-- <th scope="col">MAC Id</th> -->
                        <!-- <th scope="col">IP Address</th> -->
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          {% for sessions in Sessions %}
                          <tr>
                              <td>{{sessions.pk}}</td>
                              <td>{{sessions.serial}}</td>
                              <td>{{sessions.date}}</td>
                              <td>{{sessions.temp_lowest_level}} - {{sessions.temp_highest_level}}</td>
                              <td>{{sessions.humidity_lowest_level}} - {{sessions.humidity_highest_level}}</td>
                              <!-- <td>{{sessions.temp_highest_level}}</td> -->
                              <!-- <td>{{sessions.temp_highest_level}}</td> -->
                          </tr>
                          {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  
    </div>
  </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
