{% extends 'template.html' %} 
{% load static %}

{% block style-links %}

{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}


<div class="Monitoring-wrapper">
    <div class="Monitoring-container">
  
  
        <div class="Serial-info">
            
        </div>
  

  
        <div class="session-details responsive-flex">
            <div class="details">
                
            </div>
            <div class="Sessbttns responsive-flex">
                <button>
                    <a href="#">Add Session</a>
                </button>
                <button>
                    <a href="#">Delete Session</a>
                </button>
            </div>

        </div>
        <div class="maindb responsive-flex">
            <div class="dbtable">
  
            </div>
        </div>
  
    </div>
  </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
