{% extends 'template.html' %} 
{% load static %}

{% block style-links %}

{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}


<div class="Monitoring-wrapper">
    <div class="Monitoring-container">
  
  
        <div class="Serial-info">
            
        </div>
  

  
        <div class="session-details responsive-flex">
            <div class="details">
                
            </div>
            <div class="Sessbttns responsive-flex">
                <button>
                    <a href="#">Add Session</a>
                </button>
                <button>
                    <a href="#">Delete Session</a>
                </button>
            </div>

        </div>
        <div class="maindb responsive-flex">
            <div class="dbtable">
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Session Id</th>
                        <th scope="col">Serial no.</th>
                        <th scope="col">Date & Time</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Humidity</th>

                        <!-- <th scope="col">MAC Id</th> -->
                        <!-- <th scope="col">IP Address</th> -->
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          {% for sessions in Sessions %}
                          <tr>
                              <td>{{alerts.session_id.pk}}</td>
                              <td>{{alerts.session_id.serial}}</td>
                              <td>{{alerts.timestamp}}</td>
                              <td>{{sessions.temp_lowest_level}} - {{sessions.temp_highest_level}}</td>
                              <td>{{sessions.humidity_lowest_level}} - {{sessions.humidity_highest_level}}</td>
                              <!-- <td>{{sessions.temp_highest_level}}</td> -->
                              <!-- <td>{{sessions.temp_highest_level}}</td> -->
                          </tr>
                          {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="Err-details responsive-flex">
            <div class="ErrorMsg">
                
            </div>
            <div class="SessDetails">
            
            </div>

        </div>
        
  
    </div>
  </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
