{% extends 'template.html' %} 
{% load static %}

{% block style-links %}

{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}


<div class="Alerts-wrapper">
    <div class="Alerts-container">
  
        <div class="alertsdb responsive-flex">
            <div class="alerts-details">
                <table>
                    <thead>
                      <tr>
                        <th scope="col">Serial no.</th>
                        <th scope="col">Date & Time</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Humidity</th>
                        <th scope="col">MAC Id</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Session Id</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-label="Serial no.">01</td>
                        <td data-label="Date & Time">04/01/2016-04:30PM</td>
                        <td data-label="Temperature">40</td>
                        <td data-label="Humidity">30</td>
                        <td data-label="MAC Id">1651</td>
                        <td data-label="IP Address">192.161.01</td>
                        <td data-label="Session Id">0352</td>
                      </tr>
                      <tr>
                        <td scope="row" data-label="Serial no.">02</td>
                        <td data-label="Date & Time">04/01/2016-04:30PM</td>
                        <td data-label="Temperature">40</td>
                        <td data-label="Humidity">30</td>
                        <td data-label="MAC Id">1651</td>
                        <td data-label="IP Address">192.161.01</td>
                        <td data-label="Session Id">0352</td>
                      </tr>
                      <tr>
                        <td scope="row" data-label="Serial no.">03</td>
                        <td data-label="Date & Time">04/01/2016-04:30PM</td>
                        <td data-label="Temperature">40</td>
                        <td data-label="Humidity">30</td>
                        <td data-label="MAC Id">1651</td>
                        <td data-label="IP Address">192.161.01</td>
                        <td data-label="Session Id">0352</td>
                      </tr>
                      <tr>
                        <td scope="row" data-label="Serial no.">04</td>
                        <td data-label="Date & Time">04/01/2016-04:30PM</td>
                        <td data-label="Temperature">40</td>
                        <td data-label="Humidity">30</td>
                        <td data-label="MAC Id">1651</td>
                        <td data-label="IP Address">192.161.01</td>
                        <td data-label="Session Id">0352</td>
                      </tr>
                    </tbody>
                  </table>
  
            </div>
        </div>


        <div class="Err-details responsive-flex">
            <div class="ErrorMsg">
                
            </div>
            <div class="SessDetails">
            
            </div>

        </div>
        
  
    </div>
  </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
