{% extends 'template.html' %} 
{% load static %}

{% block style-links %}

{% endblock style-links %}

{% block head-tag-scripts %}
{% endblock head-tag-scripts %}

{% block content %}

<div class="dashboard-wrapper">
  <div class="dashboard-container">


      <div class="godown-info">
          
      </div>

      <div class="bttns responsive-flex">
          <button>
              <a href="/manageUser">Manage User</a>
          </button>
          <button>
              <a href="/manageGroup">Manage Groups</a>
          </button>
      </div>

      <div class="extra-details responsive-flex">
          <div class="row1">

          </div>
          <div class="row2">

          </div>
      </div>

  </div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
