{% extends './template.html' %}
{% load static %}
{% block style-links %}
    <link rel="stylesheet" href="{% static 'sass/Dasboard.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock style-links %}

{% block head-tag-scripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock head-tag-scripts %}

{% block content %}
<label>
  <!-- SIDEBAR -->
  <nav class="sidebar">
    <h1>Logo</h1>
    <ul>
    <li><a href="/uac"><i class="fas fa-users-gear"></i>USER MANAGEMENT</a></li>
    <li><a href="/monitoring"><i class="fa-solid fa-desktop"></i>MONITORING</a></li>
    <li><a href="/alert"><i class="fas fa-circle-exclamation"></i></i>ALERTS</a></li>
    <li><a href="/reports"><i class="fa-regular fa-file-lines"></i></i>REPORTS</a></li>
    <!-- <li><a href="/timetable"><i class="fa-solid fa-table"></i></i> TABLE</a></li> -->
    <li><a href="/channelinfo"><i class="fa-solid fa-timeline"></i></i>CHANNEL INFO</a></li>
    </ul>
  </nav>
<!-- Log Out Button -->
<div class="logoutbtn"><button><a href="#">Log Out</a></button></div>  
<div class="container4">
    <form class="viewUsr" method="post">
        {% csrf_token %}
        <div>
            <span><label for="firstname">FirstName</label></span>
            <span><input type="text" id="firstname" name="firstname" value="{{user_details.user_id.first_name}}" /></span>
        </div>
        <div>
            <span><label for="lastname">Lastname</label></span>
            <span><input type="text" id="lastname" name="lastname" value="{{user_details.user_id.last_name}}" /></span>
        </div>
        <div>
            <span><label for="username">Username</label></span>
            <span><input type="text" id="username" name="username" value="{{user_details.user_id.username}}" /></span>
        </div>
        <select name="group">
            {% for group_priv in groups  %}
                <option value="{{group_priv.pk}}" {% if group_priv.pk == user_details.group_name.pk %}selected{% endif %} >{{group_priv.group_name}}</option>
            {% endfor %}
        </select>
        <div>
            <input type="hidden" value="{{user_details.is_deleted}}"  id="deleteUser" name="deleteUser" />
            <Button class="formSubmit" type="submit"><a>Submit</a></Button>
            <Button onclick="deleteUserField()" id="Delbtn" type="button"><a>Delete</a></Button>
            <script>
                function deleteUserField(){
                    let deleteConfirmation = confirm("Are you sure, you want to delete user");
                    if(deleteConfirmation == 1){
                        document.getElementById("deleteUser").value = 1
                        document.getElementById("formSubmit").click()
                    }
                    else{
                        alert("User not deleted")
                    }
                }
            </script>
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}